<a href="/registration">Add Guest</a>
<ul>
  <% @guests.each do |guest| %>
    <li>Name: <%= guest.name %>
      <a href="/registration/<%=guest.id%>/edit">Edit</a>
    <a href="/registration/<%=guest.id%>/delete">Delete</a></li>
  <% end %>
</ul>